.head {
    color: blue; 
    text-align: center;
}

.container {
    justify-content: center;
    align-items: center;
}

img {
    width:200px;
    height:200px;
}

/* .about {
    padding-left: 150px;
} */

.about li {
    padding-left: 30px;
}